<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content >


<div class="center">

<ion-slides #slides pager="true" [options]="slideOpts" (ionSlideDidChange)="ionSlideChange(slides)">

  <ion-slide class="step-one">
  <img margintop20 src="../../assets/icon/persona3.jpg" >
  <h3>Josue Espejel</h3>
    <h3>23</h3>

</ion-slide>

<ion-slide class="step-one">
  <img margintop20 src="../../assets/icon/persona2.jpg" >
  <p>Josue Espejel 23 años</p>
</ion-slide>

<ion-slide class="step-one">
  <img margintop20 src="../../assets/icon/persona1.jpg" >
  <p>Josue Espejel 23 años</p>
</ion-slide>

</ion-slides>

<ion-button class="tour-button" (click)="next()">
  <div class="parent"> {{buttonName}} </div>
  </ion-button>
  </div>
</ion-content>
