<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi primera App
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
  <h1>Informacion  personal</h1>
  <div>
    <img src="/src/assets/icon/perfil.jpg">
  </div>
  <h2>
    Nombre: Luis Mario Luna Peña
  </h2>
  <h2>
    email: lluis.luna.98@gmail.com
  </h2>
  <h2>Celular: 5581882532</h2>
  <h3>Hobby: Jugar futbol</h3>

  <table >
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">Edad 23 años</th>
        <th scope="col">Grupo sanguneo a+</th>
        
      </tr>
    </thead>
  
        
      
    
  </table>

  


</body>



    
  
  

  
 
</ion-content>
