ion-title{
    text-align: center;
    background-color: aquamarine;
}
h2{
    text-emphasis: none;
    text-align: center;

}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
body{
    background-color: antiquewhite;
}
ion-toolbar{
    background-color: aqua;
}