<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Infromación Adicional    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Infromación Adicional</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    
    <div>
    <h2>Egresado: Universidad Tecnologica de Nezahualcoyotl</h2>
    <h2>Carrera:Sistemas Informaticos</h2>
    <h3>Año de ingreso 2017</h3>
    <h3>Año de Egreso 20121</h3>
  </div>
  <br>
  <div>
    <h2>Practicas Tsu</h2>
    <h3>Empresa Arcoutix</h3>
    <h4>Automatizacion del estadio de beisblo de los diablos rojos</h4>
  </div>
  <br>
  <h2>Practicas Ingenieria</h2>
  <h3>Grupo:Orsa</h3>
  <h4>Creacion de una pagina web para el area de recurso humanos</h4>
  <br>
  <h2>Primer Empleo</h2>
  <h3>Grupo Orsa</h3>
  <h4>Mantenimiento a una pagina web</h4>
</body>


</ion-content>
